
@{
    ViewBag.Title = "Index";
}

<script src="~/Content/Scripts/Home.js"></script>

<h2>Index - Hola que tal!!!!</h2>

<div id="Estado"></div>

<input type="button" id="login" onclick="login()"  value="Iniciar Sesion"/>

<input type="button" id="CerrarSesion" onclick="CerrarSesion()"  value="Cerrar Sesion" />

<input type="button" id="MostrarDatos" onclick="MostrarDatos()" value="Mostrar Datos" />
<div id="Datos"></div>


